$colors: (
  light: (
    bg-color: #fff,
    text-color: rgb(71, 71, 71),
    br-color: rgb(71, 71, 71),
    profile-color: rgb(114, 113, 113),
  ),
  dark: (
    bg-color: rgb(71, 71, 71),
    text-color: #fff,
    br-color: #fff,
    profile-color: rgb(233, 233, 233),
  ),
);
