@import './theme.scss';

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include get-color(background-color, bg-color);

  .navLoginSection {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 80%;

    .navLoginOption {
      font-size: 0.7rem;
      @include get-color(color, profile-color);
      @include get-color(background-color, bg-color);
      border: none;
      cursor: pointer;
    }
  }

  .navLogoContainer {
    display: flex;
    justify-content: center;

    .logo {
      font-family: 'Lobster', cursive;
      font-size: 4rem;
      color: #e0bfe6;
    }
  }

  .navOptions {
    display: flex;
    justify-content: center;

    .navOption {
      border: none;
      outline: none;
      padding: 1rem;
      @include get-color(background-color, bg-color);
      @include get-color(color, text-color);
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
